.sns_login_con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .title {
        margin-bottom: 20px;
        color: #fff;
    }

    button {
        width: 200px;
    }
}